
#section1{
    background-image: url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1483024431/local-new-york-city-SOUND1216.jpg?itok=m4nahVsJ");
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}